# Assignment 2
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 ===========================================================================================================================
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [9]:
import pandas as pd

In [11]:
data = pd.read_csv('https://raw.githubusercontent.com/ACM-NITK/Machine-Learning-SMP-2020/master/Assingments/Week2/adult_data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women are represented in this dataset?

In [28]:
m=data[data['sex']=='Male']
w=data[data['sex']=='Female']
print('The number of men is',len(m)\
      ,'\nThe number of women is',len(w))

The number of men is 21790
The number of women is 10771


### 2. What is the average age of women?Â¶

In [49]:
print('The average age of women is',w.loc[:,"age"].mean())

The average age of women is  36.85823043357163

### 3. What is the percentage of german citizens?

In [46]:
g=data[data['native-country']=='Germany']
print('The percentage of german citizens is',len(g)/len(data)*100,'%.')

The percentage of german citizens is 0.42074874850281013 %.

### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [62]:
more=data[data['salary']=='>50K']
less=data[data['salary']=='<=50K']
print('The average age of those who earn more than 50k per year is'\
      ,more.loc[:,"age"].mean()\
     ,'\nand those who earn less than 50k per year is',less.loc[:,"age"].mean())

The average age of those who earn more than 50k per year is 44.24984058155847
and those who earn less than 50k per year is 36.78373786407767

### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [63]:
print('The standard deviation of age of those who earn more than 50k per year is'\
      ,more.loc[:,"age"].std()\
     ,'\nand those who earn less than 50k per year is',less.loc[:,"age"].std())

The standard deviation of age of those who earn more than 50k per year is 10.51902771985177
and those who earn less than 50k per year is 14.020088490824813

### 6. Is it true that people who earn more than 50K have at least high school education?

In [74]:
educated_more=more[more['education-num'] >=9]
if len(educated_more)==len(more):
    print('True')
else :
    print('False')

False

### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [148]:
data.groupby('race')['age'].describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

In [150]:
data.groupby('sex')['age'].describe()

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

In [152]:

print('Maximum age of Amer-Indian-Eskimo men is',\
      data[data['race']=='Amer-Indian-Eskimo']['age'].max())

Maximum age of Amer-Indian-Eskimo men is 82

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [129]:
men=more[more['sex']=='Male']
married=['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
marr=len(men[men['marital-status'].isin(married)])
single = len(men)- marr

if single>marr:
    print('Single men')
else :
    print('Married men')

Married men

### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [130]:
maximum=data['hours-per-week'].max()
maxppl=data[data['hours-per-week']==maximum]
num=len(maxppl)
perc=len(maxppl[maxppl['salary']=='>50K'])/num*100
print('',maximum,'is the maximum number of hours a person works per week.'\
     ,'\n',num,'people work',maximum,'hours.\n',\
     perc,'% of them earn a lot.')

 99 is the maximum number of hours a person works per week.
 85 people work 99 hours.
 29.411764705882355 % of them earn a lot.

### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [143]:
print('Average time of work for those who earn a lot')
more.groupby('native-country')['hours-per-week'].mean()

Average time of work for those who earn a lot

native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64

In [136]:
print('Average time of work for those who earn a little')
less.groupby('native-country')['hours-per-week'].mean()

Average time of work for those who earn a little

native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

In [159]:
print(' Average time of work for those who earn a lot in Japan is',\
      more[more['native-country']=='Japan']['hours-per-week'].mean(),'\n',\
      'Average time of work for those who earn a little in Japan is',\
      less[less['native-country']=='Japan']['hours-per-week'].mean(),)

 Average time of work for those who earn a lot in Japan is 47.958333333333336
 Average time of work for those who earn a little in Japan is 41.0