# Assignment 2
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 ===========================================================================================================================
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [3]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
data = pd.read_csv('adult.csv')
data.head(7)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K

### 1. How many men and women are represented in this dataset?

In [82]:
men = data[data["sex"].isin(["Male"])]
women=data[data["sex"].isin(["Female"])]
print("Number of women in the dataset is ",women.shape[0])
print("Number of men in the dataset is ",men.shape[0])

Number of women in the dataset is  10771
Number of men in the dataset is  21790

 ### 2. What is the average age of women?

In [99]:
women=data[data["sex"].isin(["Female"])]
print("Average age of women is ")
women["age"].mean()

Average age of women is  36.85823043357163

36.85823043357163

### 3. What is the percentage of german citizens?

In [25]:
german=data[data["native-country"].isin(["Germany"])]
print("percentage of german citizens is ")
(german.shape[0]/data.shape[0])*100

percentage of german citizens is

0.42074874850281013

### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [80]:
below_50k=data[data["salary"].isin(["<=50K"])]
above_50k=data[data["salary"].isin([">50K"])]
print("Mean of age of ppl who earn above 50K is ",above_50k["age"].mean())

print("Mean of age of ppl who earn below 50K is ",below_50k["age"].mean())

Mean of age of ppl who earn above 50K is  44.24984058155847
Mean of age of ppl who earn below 50K is  36.78373786407767

### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [81]:
below_50k=data[data["salary"].isin(["<=50K"])]
above_50k=data[data["salary"].isin([">50K"])]
print("Standard deviation of age of those who have salary above 50K is",above_50k["age"].std())
print("Standard deviation of age of those who have salary below 50K is",below_50k["age"].std())

Standard deviation of age of those who have salary above 50K is 10.519027719851826
Standard deviation of age of those who have salary below 50K is 14.02008849082488

### 6. Is it true that people who earn more than 50K have at least high school education?

In [98]:
morethan50k = data[data["salary"].isin([">50K"]) & data["education-num"]>=9]
x= morethan50k.empty
if x:
    print("NO,people who earn more than 50k do not have atleast high school edu ")
else:
    print("people who earn more than 50k have atleast high school edu")

NO,people who earn more than 50k do not have atleast high school edu

### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [46]:
data.groupby(["race", "sex"])["age"].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [40]:
print("the maximum age of Amer Indian Eskimo race is ")
data.groupby(["race"]).get_group("Amer-Indian-Eskimo")["age"].max()

the maximum age of Amer Indian Eskimo race is

82

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [73]:
men=data[data["sex"].isin(["Male"])]
y=men.groupby("marital-status").get_group("Never-married")
x=men.groupby("marital-status").get_group("Divorced")
single_men=y.shape[0]+x.shape[0]
married_men=men.shape[0]-single_men
if single_men>married_men:
   print("single men earn a lot")
else:
   print("married men earn a lot")

married men earn a lot

### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [74]:
max=data["hours-per-week"].max()
print("the max number of hours working per week is",max)
no_max=data.groupby("hours-per-week").get_group(max)
y=no_max.shape[0]
print("number of ppl working for maximum hours are ", y)
above_50k=no_max[no_max["salary"].isin([">50K"])]
x=above_50k.shape[0]
print("percentage of who earn more than 50k is ",(x/y)*100)

the max number of hours working per week is 99
number of ppl working for maximum hours are  85
percentage of who earn more than 50k is  29.411764705882355

### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [10]:
 print("the average time of work for each country is listed below")
 data.groupby(["native-country" , "salary"])["hours-per-week"].mean()

the average time of work for each country is listed below

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

In [25]:
x=data.groupby(["native-country"]).get_group("Japan").groupby("salary")["hours-per-week"]
print("the average time of work for japan is ")
x.describe()

the average time of work for japan is

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    38.0  41.000000  11.902759  10.0  40.0  40.0  41.5  65.0
>50K     24.0  47.958333  16.120414  21.0  40.0  42.5  50.0  99.0