# Assignment 2
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 ===========================================================================================================================
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('adult_data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women are represented in this dataset?

In [29]:
print(data.groupby('sex').count()['age'])

sex
Female    3204
Male      6509
Name: age, dtype: int64

### 2. What is the average age of women?

In [31]:
# insert your code here
print(data.groupby('sex').mean()['age']['Female'])

36.87546816479401

### 3. What is the percentage of german citizens?

In [23]:
# insert your code here
tot= data['native-country'].count()
german=0
for native in data['native-country']:
    if native=='Germany':
        german=german+1
print("The percentage of german citizens is", german/tot*100)

The percentage of german citizens is 0.44275123558484347

### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [33]:
# insert your code here
print(data.groupby('salary').mean()['age'])

salary
<=50K    36.688631
>50K     44.016912
Name: age, dtype: float64

### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [34]:
# insert your code here
print(data.groupby('salary').std()['age'])

salary
<=50K    13.983013
>50K     10.387259
Name: age, dtype: float64

### 6. Is it true that people who earn more than 50K have at least high school education?

In [179]:
# insert your code here
for edu in data[data['salary']=='>50K']['education']:
    if ((edu!='11th') & (edu!='10th') & (edu!='Preschool')& (edu!='1st-4th') & (edu!='5th-6th')):
        i=1
    else:
        i=0
        break
if i==0:
    print("There are people who earn more than 50K but still don't even have high school education")
else:
    print("People who earn more are highly educated")

There are people who earn more than 50K but still don't even have high school education

### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [76]:
# insert your code here
print(data.groupby('sex').describe()['age'])
print(data.groupby('race').describe()['age'])
print( "The maximum age of an Abmer-Indian_eskimo is",data.groupby('race').describe()['age']['max'][0])

         count       mean        std   min   25%   50%   75%   max
sex
Female  3204.0  36.875468  13.937613  17.0  25.0  35.0  46.0  90.0
Male    6509.0  39.191888  13.335416  17.0  29.0  38.0  48.0  90.0
                     count       mean        std   min    25%   50%    75%  \
race
Amer-Indian-Eskimo    96.0  36.552083  12.082061  17.0  27.75  35.0  44.25
Asian-Pac-Islander   297.0  37.097643  12.900891  17.0  27.00  36.0  45.00
Black                927.0  38.137001  12.998405  17.0  28.00  36.0  47.00
Other                 79.0  33.164557  10.981839  17.0  25.50  31.0  41.00
White               8314.0  38.579384  13.693339  17.0  28.00  37.0  47.75

                     max
race
Amer-Indian-Eskimo  67.0
Asian-Pac-Islander  90.0
Black               90.0
Other               65.0
White               90.0
The maximum age of an Abmer-Indian_eskimo is 67.0

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [247]:
# insert your code here
tmh=0
wmh=0
for mar in ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']:
    wmh=wmh+ data.groupby(['marital-status', 'salary', 'sex']).count()['age'][mar]['>50K']['Female']
    tmh=tmh+data.groupby(['marital-status','salary']).count()['age'][mar]['>50K']
mmh=tmh-wmh
tuh=0
wuh=0
for mar in ['Divorced', 'Never-married', 'Separated', 'Widowed']:
    wuh=wuh+ data.groupby(['marital-status', 'salary', 'sex']).count()['age'][mar]['>50K']['Female']
    tuh=tuh+data.groupby(['marital-status','salary']).count()['age'][mar]['>50K']
muh=tuh-wuh
print("The number of married men who earn a lot is", mmh,"and that of unmarried men is", muh)
print("Hence married men earn much more than unmarried men")

The number of married men who earn a lot is 1747 and that of unmarried men is 197
Hence married men earn much more than unmarried men

### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [123]:
# insert your code here
tot= data[data['hours-per-week']==99]['salary'].count()
print("The maximum number of hours a person works per week is",data['hours-per-week'].max())
print("Number of people who work for that much time is ", tot)
ppl= data[(data['hours-per-week']==99) & (data['salary']== '>50K')].count()['salary']
print("Percentage of these people who earn a lot is", ppl/tot*100"")

The maximum number of hours a person works per week is 99
Number of people who work for that much time is  15
Percentage of these people who earn a lot is 46.666666666666664 %

### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [143]:
# insert your code here
print(data.groupby(['native-country', 'salary'])['hours-per-week'].mean())

native-country  salary
?               <=50K     39.153226
                >50K      45.980392
Cambodia        <=50K     40.500000
                >50K      40.000000
Canada          <=50K     37.392857
                            ...
United-States   >50K      45.500000
Vietnam         <=50K     38.857143
                >50K      40.000000
Yugoslavia      <=50K     43.333333
                >50K      40.000000
Name: hours-per-week, Length: 74, dtype: float64