# Assignment 2
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 ===========================================================================================================================
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [2]:
import pandas as pd

In [6]:
data = pd.read_csv('adult_data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women are represented in this dataset?

In [7]:
countm=len(data[data['sex']=='Male'])
countf=len(data[data['sex']=='Female'])
print(countm,countf)

21790 10771

### 2. What is the average age of women?

In [8]:
female=data[data.sex=='Female']
female['age'].mean()

36.85823043357163

### 3. What is the percentage of german citizens?

In [14]:
g=len(data[data['native-country'] =='Germany'])
gp=((g)/(countm+countf))*100
print(gp)

0.42074874850281013

### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [18]:
more=data[data.salary=='>50K']
less=data[data.salary=='<=50K']
print('>50K: ',more['age'].mean(),'<50K: ',less['age'].mean())

>50K:  44.24984058155847 <50K:  36.78373786407767

# 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [21]:
print('Standard Deviation >50K:')
print(more['age'].std(),'\n')
print('Standard Deviation <50K:')
print(less['age'].std())

Standard Deviation >50K:
10.51902771985177

Standard Deviation <50K:
14.020088490824813

### 6. Is it true that people who earn more than 50K have at least high school education?

In [22]:
rich=data[data.salary=='>50K']
_less=len(rich[rich['education-num']<9])
if _less >0 :
    print("False")
else:
    print('True')

False

### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [23]:
_race=data.groupby(['race'])
_gender=data.groupby(['sex'])
m=_gender.get_group('Male')
race_m=m.groupby('race')
r=_race['age'].describe()
g=_gender['age'].describe()
print('Age for each race')
print(r)
print('\n\nAge for gender')
print(g)
A=race_m.get_group('Amer-Indian-Eskimo')
print('\n\nMaximum age of AIM is ',A['age'].max())

Age for each race
                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0


Age for gender
          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0


Maximum age of AIM is  82

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [29]:
allm=data[data.sex=='Male']
allmgrouped=allm.groupby('marital-status')
MCivSpouse=allmgrouped.get_group('Married-civ-spouse')
Mspouseabsent=allmgrouped.get_group('Married-spouse-absent')
Mafspouse=allmgrouped.get_group('Married-AF-spouse')

richmarriedciv=len(MCivSpouse[MCivSpouse.salary=='>50K'])
richmarriedspouse=len(Mspouseabsent[Mspouseabsent.salary=='>50K'])
richmarriedaf=len(Mafspouse[Mafspouse.salary=='>50K'])
richmarriedm=0
richmarriedm=richmarriedciv+richmarriedspouse+richmarriedaf
allrichm=len(allm[allm.salary=='>50K'])
richbm=allrichm-richmarriedm
if (richbm>richmarriedm):
                 print('Bachelor Men')
else:
                 print('Married Men')

Married Men

### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [31]:
maxh=data['hours-per-week'].max()
maxhrsp=len(data[data['hours-per-week']==maxh])
richw=data[data['hours-per-week']==maxh]
richw=len(richw[richw['salary']=='>50K'])
print('Max hrs :',maxh)
print('Ppl with max hrs :',maxhrsp)
print('People with max hrs and >50K :',richw)
print('Percentage of max hrs people >50K :',(richw/maxhrsp)*100)

Max hrs : 99
Ppl with max hrs : 85
People with max hrs and >50K : 25
Percentage of max hrs people >50K : 29.411764705882355

### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [32]:
richp=data[data.salary=='>50K']
poorp=data[data.salary=='<=50K']
richg=richp.groupby(['native-country'])
poorg=poorp.groupby(['native-country'])
print('Average work time for ppl >50K: ')
print(richg['hours-per-week'].mean())
print('\n\n\nAverage work time for ppl <50K')
print(poorg['hours-per-week'].mean())

Average work time for ppl >50K:
native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64



Average work time for ppl <50K
native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

In [35]:
poorj=poorg.get_group('Japan')
richj=richg.get_group('Japan')
print('Hours per week of Japanese who earn >50K:',richj['hours-per-week'].mean())
print('Hours per week of Japanese who earn <=50K:',poorj['hours-per-week'].mean())

Hours per week of Japanese who earn >50K: 47.958333333333336
Hours per week of Japanese who earn <=50K: 41.0