# Assignment 2
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 ===========================================================================================================================
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/ACM-NITK/Machine-Learning-SMP-2020/master/Assingments/Week2/adult_data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women are represented in this dataset?

In [3]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

### 2. What is the average age of women?

In [4]:
df[["sex", "age"]].groupby("sex").mean()

              age
sex
Female  36.858230
Male    39.433547

### 3. What is the percentage of german citizens?

In [5]:
a = df.groupby('native-country').get_group('Germany').age.count()
b = df['native-country'].count()
print((a/b) * 100)

0.42074874850281013

### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [6]:
a = df.groupby('salary').get_group('>50K').age.mean()
b = df.groupby('salary').get_group('<=50K').age.mean()

print(a,b)

44.24984058155847 36.78373786407767

### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [7]:
a = df.groupby('salary').get_group('>50K').age.std()
b = df.groupby('salary').get_group('<=50K').age.std()

print(a,b)

10.51902771985177 14.020088490824813

### 6. Is it true that people who earn more than 50K have at least high school education?

In [8]:
g = df.groupby('salary').get_group('>50K')
f = g[g['education-num']<9]
if f.shape[0] > 0:
    print(False)
else:
    print(True)

False

### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [9]:
a = df.groupby('sex').age.describe()
b = df.groupby('race').age.describe()
c = df.groupby('race').get_group('Amer-Indian-Eskimo').age.max()
print(a)
print(b)
print(c)

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0
                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0
82

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [11]:

value = df.groupby('salary').get_group('>50K')
v1 = value[value['marital-status'] == 'Married-civ-spouse'].shape[0]
v2 = value[value['marital-status'] == 'Married-spouse-absent'].shape[0]
v3 = value[value['marital-status'] == 'Married-AF-spouse'].shape[0]
total = value.shape[0]
vt = v1 + v2 +v3 
uv = total - (vt)
if(vt > uv):
    print('Married Men')
else:
    print('Unmarried Men')

Married Men

### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [11]:
# insert your code here
max = df['hours-per-week'].max()
s = df.groupby('hours-per-week').get_group(99)
d = s.shape[0]
v = s.groupby('salary').get_group('>50K').shape[0]
per = v/d * 100
print(max,d,per)

### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [12]:
# insert your code here
s = df.groupby(['native-country','salary'])['hours-per-week'].mean()
s.loc['Japan']

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64