# Assignment 2
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 ===========================================================================================================================
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('adult_data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women are represented in this dataset?

In [4]:
# insert your code here
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

### 2. What is the average age of women?

In [5]:
# insert your code here
data[data['sex']=='Female']['age'].mean()

36.85823043357163

### 3. What is the percentage of german citizens?

In [6]:
# insert your code here
germany=data[data['native-country']=='Germany']['native-country'].count()
total= data['native-country'].count()
percentage=(germany/total)*100
percentage

0.42074874850281013

### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [7]:
# insert your code here
print ("Mean of age for those who earn more than 50K per year : ",data[data['salary']==">50K"]["age"].mean())
print ("Mean of age for those who earn less than 50K per year : ",data[data['salary']=="<=50K"]["age"].mean())

Mean of age for those who earn more than 50K per year :  44.24984058155847
Mean of age for those who earn less than 50K per year :  36.78373786407767

### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [8]:
# insert your code here
print("standard deviation of age for those who earn more than 50K per year",data[data['salary']==">50K"]["age"].std())
print("standard deviation of age for those who earn less than 50K per year",data[data['salary']=="<=50K"]["age"].std())

standard deviation of age for those who earn more than 50K per year 10.51902771985177
standard deviation of age for those who earn less than 50K per year 14.020088490824813

### 6. Is it true that people who earn more than 50K have at least high school education?

In [9]:
# insert your code here
arr=["Preschool","1st-4th","5th-6th","7th-8th","9th","10th","11th","12th"]
~data.loc[data['salary']==">50K"]["education"].isin(arr).all()

True

### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [10]:
# insert your code here
race_stat=data.groupby("race").describe()
gender_stat=data.groupby("sex").describe()
print ("RACE STATISTICS",race_stat)
print("GENDER STATISTICS",gender_stat)

RACE STATISTICS                         age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                           fnlwgt                 ... capital-loss          \
                     max    count           mean  ...          75%     max
race                                              ...
Amer-Indian-Eskimo  82.0    311.0  120831.147910  ...          0.0  1980.0
Asian-Pac-Islander  90.0   1039.0  159940.609240  ...          0.0  2457.0
Black               90.0   3124.0  228013.124200  ...          0.0  4356.0
Other               77.0    271.0  197124.191882  ...          0.0  2179.0
White               90.0  27816.0  187298.064280  ...          0.0  4356.0

                   hours-per-week                                         \
                            count       mean        std  min   25%   50%
race
Amer-Indian-Eskimo          311.0  40.048232  11.695364  3.0  40.0  40.0
Asian-Pac-Islander         1039.0  40.127045  12.556816  1.0  40.0  40.0
Black                      3124.0  38.422855  10.315646  1.0  37.0  40.0
Other                       271.0  39.468635  11.143755  5.0  36.0  40.0
White                     27816.0  40.689100  12.544796  1.0  40.0  40.0


                     75%   max
race
Amer-Indian-Eskimo  40.0  84.0
Asian-Pac-Islander  40.0  99.0
Black               40.0  99.0
Other               40.0  98.0
White               45.0  99.0

[5 rows x 48 columns]
GENDER STATISTICS             age                                                       fnlwgt  \
          count       mean        std   min   25%   50%   75%   max    count
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0  10771.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0  21790.0

                       ... capital-loss         hours-per-week             \
                 mean  ...          75%     max          count       mean
sex                    ...
Female  185746.311206  ...          0.0  4356.0        10771.0  36.410361
Male    191771.449013  ...          0.0  3770.0        21790.0  42.428086


              std  min   25%   50%   75%   max
sex
Female  11.811300  1.0  30.0  40.0  40.0  99.0
Male    12.119755  1.0  40.0  40.0  49.0  99.0

[2 rows x 48 columns]

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [11]:
# insert your code here
array=["Married-civ-spouse","Married-spouse-absent","Married-AF-spouse"]
mar_prop= data[data["salary"]==">50K"]["marital-status"].isin(array).value_counts()
if mar_prop[True]>mar_prop[False]:
    print("Proportion of married men is greater")
else:
    print("Proportion of single men is greater")

Proportion of married men is greater

### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [31]:
# insert your code here
max_hrs=data["hours-per-week"].max()
data[data["hours-per-week"]==max_hrs].count().max()
max_50K = (data[data["hours-per-week"]==data["hours-per-week"].max()]["salary"]==">50K").value_counts()
percentage= (max_50K[True]/max_no)*100
print ("maximum number of hours a person works per week : ",max_hrs)
print ("number of people working such a number of hours : ",max_no)
print ("percentage of those who earn a lot (>50K) among them : ",percentage)

maximum number of hours a person works per week :  99
number of people working such a number of hours :  85
percentage of those who earn a lot (>50K) among them :  29.411764705882355

### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [32]:
# insert your code here
for(country,salary),sub_df in data.groupby(["native-country","salary"]):
   print(country, salary, sub_df['hours-per-week'].mean())

? <=50K 40.16475972540046
? >50K 45.54794520547945
Cambodia <=50K 41.416666666666664
Cambodia >50K 40.0
Canada <=50K 37.91463414634146
Canada >50K 45.64102564102564
China <=50K 37.38181818181818
China >50K 38.9
Columbia <=50K 38.68421052631579
Columbia >50K 50.0
Cuba <=50K 37.98571428571429
Cuba >50K 42.44
Dominican-Republic <=50K 42.338235294117645
Dominican-Republic >50K 47.0
Ecuador <=50K 38.041666666666664
Ecuador >50K 48.75
El-Salvador <=50K 36.03092783505155
El-Salvador >50K 45.0
England <=50K 40.483333333333334
England >50K 44.53333333333333
France <=50K 41.05882352941177
France >50K 50.75
Germany <=50K 39.13978494623656
Germany >50K 44.97727272727273
Greece <=50K 41.80952380952381
Greece >50K 50.625
Guatemala <=50K 39.36065573770492
Guatemala >50K 36.666666666666664
Haiti <=50K 36.325
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.333333333333336
Honduras >50K 60.0
Hong <=50K 39.142857142857146
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.233333333333334
India >50K 46.475
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.94736842105263
Ireland >50K 48.0
Italy <=50K 39.625
Italy >50K 45.4
Jamaica <=50K 38.23943661971831
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.958333333333336
Laos <=50K 40.375
Laos >50K 40.0
Mexico <=50K 40.00327868852459
Mexico >50K 46.57575757575758
Nicaragua <=50K 36.09375
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.857142857142854
Peru <=50K 35.06896551724138
Peru >50K 40.0
Philippines <=50K 38.065693430656935
Philippines >50K 43.032786885245905
Poland <=50K 38.166666666666664
Poland >50K 39.0
Portugal <=50K 41.93939393939394
Portugal >50K 41.5
Puerto-Rico <=50K 38.470588235294116
Puerto-Rico >50K 39.416666666666664
Scotland <=50K 39.44444444444444
Scotland >50K 46.666666666666664
South <=50K 40.15625
South >50K 51.4375
Taiwan <=50K 33.774193548387096
Taiwan >50K 46.8
Thailand <=50K 42.86666666666667
Thailand >50K 58.333333333333336
Trinadad&Tobago <=50K 37.05882352941177
Trinadad&Tobago >50K 40.0
United-States <=50K 38.79912723305605
United-States >50K 45.50536884674383
Vietnam <=50K 37.193548387096776
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5