# Assignment 2
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 ===========================================================================================================================
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('https://raw.githubusercontent.com/ACM-NITK/Machine-Learning-SMP-2020/master/Assingments/Week2/adult_data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women are represented in this dataset?

In [18]:
g=df.groupby('sex')
a=g.get_group('Male').shape[0]
b=g.get_group('Female').shape[0]
print(a,b)

21790 10771

### 2. What is the average age of women?

In [19]:
g=df.groupby('sex')
a=g.get_group('Female')
a.age.mean()

36.85823043357163

### 3. What is the percentage of german citizens?

In [20]:
g=df.groupby('native-country')
a=df.shape[0]
b=g.get_group('Germany').shape[0]
print(b/a*100)

0.42074874850281013

### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [21]:
g=df.groupby('salary')
a=g.get_group('>50K')
x=a['age'].mean() 
b=g.get_group('<=50K')
y=b['age'].mean()
print(x,y)

44.24984058155847 36.78373786407767

### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [22]:
print(a.age.std() ,b.age.std())

10.51902771985177 14.020088490824813

### 6. Is it true that people who earn more than 50K have at least high school education?

In [23]:
c=a[a['education-num']>=9].shape[0]
if(c>0):
    print("True")
else:
    print("False")

True

### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [26]:
g=df.groupby('race')
h=df.groupby('sex')
print(h.age.describe())
print(g.age.describe())
print(g.get_group('Amer-Indian-Eskimo').age.max())

sex
Female  count    10771.000000
        mean        36.858230
        std         14.013697
        min         17.000000
        25%         25.000000
        50%         35.000000
        75%         46.000000
        max         90.000000
Male    count    21790.000000
        mean        39.433547
        std         13.370630
        min         17.000000
        25%         29.000000
        50%         38.000000
        75%         48.000000
        max         90.000000
Name: age, dtype: float64
race
Amer-Indian-Eskimo  count      311.000000
                    mean        37.173633
                    std         12.447130
                    min         17.000000
                    25%         28.000000
                    50%         35.000000
                    75%         45.500000
                    max         82.000000
Asian-Pac-Islander  count     1039.000000
                    mean        37.746872
                    std         12.825133
                    min         17.000000
                    25%         28.000000
                    50%         36.000000
                    75%         45.000000
                    max         90.000000
Black               count     3124.000000
                    mean        37.767926
                    std         12.759290
                    min         17.000000
                    25%         28.000000
                    50%         36.000000
                    75%         46.000000
                    max         90.000000
Other               count      271.000000
                    mean        33.457565
                    std         11.538865
                    min         17.000000
                    25%         25.000000
                    50%         31.000000
                    75%         41.000000
                    max         77.000000
White               count    27816.000000
                    mean        38.769881
                    std         13.782306
                    min         17.000000
                    25%         28.000000
                    50%         37.000000
                    75%         48.000000
                    max         90.000000
Name: age, dtype: float64
82

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [31]:
g=df.groupby('salary')
i=g.get_group('>50K')
mar1 = i[i['marital-status'] == 'Married-civ-spouse'].shape[0]
mar2 = i[i['marital-status'] == 'Married-spouse-absent'].shape[0]
mar3 = i[i['marital-status'] == 'Married-AF-spouse'].shape[0]
mar_total = mar1+mar2+mar3
all = i.shape[0]
unmarried = all - mar_total
if(mar_total>unmarried):
    print("Married men")
else:
    print("Single men")

Married men

### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [86]:
g = df['hours-per-week'].max()
h = df.groupby('hours-per-week')
i = h.get_group(g).shape[0]
total_ppl = h.get_group(g).groupby('salary').get_group('>50K').shape[0]
print(g,i,total_ppl/i*100)

99 85 29.411764705882355

### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [117]:
g=df.groupby(['native-country','salary'])['hours-per-week'].mean()
h=df.groupby('native-country').get_group('Japan').groupby('salary')['hours-per-week'].mean()
print(g,h)

native-country              salary
?                           <=50K     40.164760
                            >50K      45.547945
Cambodia                    <=50K     41.416667
                            >50K      40.000000
Canada                      <=50K     37.914634
                            >50K      45.641026
China                       <=50K     37.381818
                            >50K      38.900000
Columbia                    <=50K     38.684211
                            >50K      50.000000
Cuba                        <=50K     37.985714
                            >50K      42.440000
Dominican-Republic          <=50K     42.338235
                            >50K      47.000000
Ecuador                     <=50K     38.041667
                            >50K      48.750000
El-Salvador                 <=50K     36.030928
                            >50K      45.000000
England                     <=50K     40.483333
                            >50K      44.533333
France                      <=50K     41.058824
                            >50K      50.750000
Germany                     <=50K     39.139785
                            >50K      44.977273
Greece                      <=50K     41.809524
                            >50K      50.625000
Guatemala                   <=50K     39.360656
                            >50K      36.666667
Haiti                       <=50K     36.325000
                            >50K      42.750000
                                        ...
Mexico                      >50K      46.575758
Nicaragua                   <=50K     36.093750
                            >50K      37.500000
Outlying-US(Guam-USVI-etc)  <=50K     41.857143
Peru                        <=50K     35.068966
                            >50K      40.000000
Philippines                 <=50K     38.065693
                            >50K      43.032787
Poland                      <=50K     38.166667
                            >50K      39.000000
Portugal                    <=50K     41.939394
                            >50K      41.500000
Puerto-Rico                 <=50K     38.470588
                            >50K      39.416667
Scotland                    <=50K     39.444444
                            >50K      46.666667
South                       <=50K     40.156250
                            >50K      51.437500
Taiwan                      <=50K     33.774194
                            >50K      46.800000
Thailand                    <=50K     42.866667
                            >50K      58.333333
Trinadad&Tobago             <=50K     37.058824
                            >50K      40.000000
United-States               <=50K     38.799127
                            >50K      45.505369
Vietnam                     <=50K     37.193548
                            >50K      39.200000
Yugoslavia                  <=50K     41.600000
                            >50K      49.500000
Name: hours-per-week, dtype: float64 salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64