# Assignment 2
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 ===========================================================================================================================
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [62]:
import pandas as pd
import numpy as np

In [63]:
data = pd.read_csv('C:/Users/Kausthub Thekke Mada/Desktop/Machine-Learning-SMP-2020/week2/adult_data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women are represented in this dataset?

In [64]:
sex = data.groupby('sex')
women_group = sex.get_group('Female')
men_group = sex.get_group('Male')
men_count = men_group.shape[0]
women_count = women_group.shape[0]
print('no of men = ',men_count)
print('no of women = ',women_count)

no of men =  21790
no of women =  10771

### 2. What is the average age of women?

In [65]:
avg_age_w = women_group['age'].mean()
print("average age of women = ",avg_age_w)

average age of women =  36.85823043357163

### 3. What is the percentage of german citizens?

In [66]:
total_count = data.shape[0]
native_country = data.groupby('native-country')
german_people = native_country.get_group('Germany')
german_count = german_people.shape[0]
per_germ = german_count/total_count*100
print("percentage of german people = ",per_germ)

percentage of german people =  0.42074874850281013

### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [67]:
salary = data.groupby('salary')
above50K = salary.get_group('>50K')
below50K = salary.get_group('<=50K')
avg_age_above50K = above50K['age'].mean()
avg_age_below50K = below50K['age'].mean()
print("mean of age who earn >50K = ",avg_age_above50K)
print("mean of age who earn <=50K = ",avg_age_below50K)

mean of age who earn >50K =  44.24984058155847
mean of age who earn <=50K =  36.78373786407767

### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [68]:
print(above50K.age.std(),below50K.age.std())

10.51902771985177 14.020088490824813

### 6. Is it true that people who earn more than 50K have at least high school education?

In [69]:
edu_no = len(above50K[above50K['education-num']<9])
if edu_no >0 :
    print("False")
else :
    print("True")

False

### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [70]:
race_group=data.groupby('race')
race_describe=race_group['age'].describe()
sex_describe=gender_group['age'].describe()
print('Age statistics for each race')
print(race_describe)
print('\n\nAge statistics for each gender')
print(sex_describe)
AmInEs=race_group.get_group('Amer-Indian-Eskimo')
print('\n\nMaximum age of men of Amer-Indian-Eskimo race is',AmInEs['age'].max())

Age statistics for each race
                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0


Age statistics for each gender
          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0


Maximum age of men of Amer-Indian-Eskimo race is 82

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [71]:
rich_men = above50K[above50K['sex']=='Male']
total = len(rich_men)
count1 = len(rich_men[rich_men['marital-status'] == 'Married-civ-spouse'])
count2 = len(rich_men[rich_men['marital-status'] == 'Married-spouse-absent'])
count3 = len(rich_men[rich_men['marital-status'] == 'Married-AF-spouse'])
married = count1 + count2 + count3
bachelors = total - married
if married > bachelors :
    print("Married")
else :
    print("Single men")

Married

### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [72]:
max_hrs = data['hours-per-week'].max()
max_hrs_peeps = len(data[data['hours-per-week'] == max_hrs])
max_hrs_richpeeps = len(above50K[above50K['hours-per-week'] == max_hrs])
print("maximun working hours = ",max_hrs)
print("no of people working max hours = ", max_hrs_peeps)
print("percentage of people working max hours and earning >50K = ",max_hrs_richpeeps/max_hrs_peeps*100)

maximun working hours =  99
no of people working max hours =  85
percentage of people working max hours and earning >50K =  29.411764705882355

### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [73]:
g=data.groupby(['native-country','salary'])['hours-per-week'].mean()
h=data.groupby('native-country').get_group('Japan').groupby('salary')['hours-per-week'].mean()
print(g,h)

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64 salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64