# Assignment 2
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 ===========================================================================================================================
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv('C:\\Users\\prana\\Desktop\\CSV Files\\adult_data.csv')
data.head(7)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K

### 1. How many men and women are represented in this dataset?

In [4]:
a = [data['sex'][data.sex=='Male'].size,data['sex'][data.sex=='Female'].size]
print(a)

[21790, 10771]

 ### 2. What is the average age of women?

In [5]:
print(data['age'][data.sex=='Female'].mean())

36.85823043357163

### 3. What is the percentage of german citizens?

In [6]:
d1 = data.rename(columns={"native-country": "nativecountry"})
print(((d1['nativecountry'][d1.nativecountry=='Germany'].size)/(d1['nativecountry'].size))*100)

0.42074874850281013

### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [7]:
a = [data['age'][data.salary=='>50K'].mean(), data['age'][data.salary=='<=50K'].mean()]
print(a)

[44.24984058155847, 36.78373786407767]

### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [8]:
a = [data['age'][data.salary=='>50K'].std(), data['age'][data.salary=='<=50K'].std()]
print(a)

[10.51902771985177, 14.020088490824813]

### 6. Is it true that people who earn more than 50K have at least high school education?

In [9]:
d1 = data.rename(columns={"education-num": "educationnum"})
if(d1[d1.educationnum<9][d1.salary=='>50K'].size==0):
    print(True)
else:
    print(False)

False

C:\Users\prana\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [10]:
sex_1 = data.groupby('sex')
race = data.groupby('race')
men = sex_1.get_group('Male')
race_men = men.groupby('race')
a_i_e_men = race_men.get_group('Amer-Indian-Eskimo')
print(sex_1['age'].describe())
print(race['age'].describe())
print('\nMax age of Amer-Pac-ISlander Men is: \n')
print(a_i_e_men['age'].describe()['max'])

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0
                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0

Max age of Amer-Pac-ISlander Men is:

82.0

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [11]:
d_onlymen = data.rename(columns={"marital-status": "maritalstatus"})
d_onlymen = d_onlymen[d_onlymen.sex=='Male']
d_mcs = d_onlymen[d_onlymen.maritalstatus==('Married-civ-spouse')]
d_mafs = d_onlymen[d_onlymen.maritalstatus=='Married-AF-spouse']
d_mpa = d_onlymen[d_onlymen.maritalstatus=='Married-spouse-absent']
d_onlymen1 = pd.concat([d_mcs,d_mafs,d_mpa])

if(d_onlymen1['maritalstatus'][d_onlymen1.salary=='>50K'].size>(d_onlymen['maritalstatus'][d_onlymen.salary=='>50K'].size)-(d_onlymen1['maritalstatus'][d_onlymen1.salary=='>50K'].size)):
    print('Married')
else:
    print('Single Men')

Married

### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [12]:
print(data['hours-per-week'].max())
d_hours = data.rename(columns={"hours-per-week": "hoursperweek"})
print(d_hours['hoursperweek'][d_hours.hoursperweek==99].size)
d_99 = d_hours[d_hours.hoursperweek==99]
print(100*(d_99['salary'][d_99.salary=='>50K'].size)/(d_99['hoursperweek'].size))

99
85
29.41176470588235

### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [10]:
 print("the average time of work for each country is listed below")
 data.groupby(["native-country" , "salary"])["hours-per-week"].mean()

the average time of work for each country is listed below

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

In [25]:
x=data.groupby(["native-country"]).get_group("Japan").groupby("salary")["hours-per-week"]
print("the average time of work for japan is ")
x.describe()

the average time of work for japan is

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    38.0  41.000000  11.902759  10.0  40.0  40.0  41.5  65.0
>50K     24.0  47.958333  16.120414  21.0  40.0  42.5  50.0  99.0