# Assignment 2
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 ===========================================================================================================================
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:/Users/ashan/Machine-Learning-SMP-2020/Assingments/Week2/adult_data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women are represented in this dataset?

In [36]:
M = df[df.sex == 'Male']
m = len(M)
F = df[df.sex != 'Male']
f = len(F)
print("Male : ",m," Female : ",f)

Male :  21790  Female :  10771

### 2. What is the average age of women?

In [37]:
total_age_female = df['age'][df.sex == 'Female'].sum()
print("Average age : ",total_age_female/f)

Average age :  36.85823043357163

### 3. What is the percentage of german citizens?

In [50]:
r = df.shape[0]                          
G = df[df['native-country'] == 'Germany']
g = len(G)
print("% of Germans : ", g/r * 100, "%")

% of Germans :  0.42074874850281013 %

### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [63]:
mean_age_salary1 = df['age'][df.salary == '>50K']
print("Mean age for >50K : ",mean_age_salary1.sum()/mean_age_salary1.count())
mean_age_salary2 = df['age'][df.salary == '<=50K']
print("Mean age for <= 50K : ",mean_age_salary2.sum()/mean_age_salary2.count())

Mean age for >50K :  44.24984058155847
Mean age for <= 50K :  36.78373786407767

### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [89]:
salary = df.groupby('salary')
rich = salary.get_group('>50K')
age = rich['age'].std()
poor = salary.get_group('<=50K')
age2 = poor['age'].std()
print(age, age2)

10.51902771985177 14.020088490824813

### 6. Is it true that people who earn more than 50K have at least high school education?

In [46]:
to_check = df[df['education-num'] < 9]
to_check_final = to_check[df.salary == '>50K']
if(len(to_check_final)):
    print('There are people who earn more than 50K but still dont have a HS degree.')
else:
     print('it is true that people who earn more than 50K have at least high school education')

There are people who earn more than 50K but still dont have a HS degree.

### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [86]:
#for Q7
sex = df.groupby('sex')
race = df.groupby('race')
Male = sex.get_group('Male')
race_men = Male.groupby('race')
AIE_men = race_men.get_group('Amer-Indian-Eskimo')
print(sex['age'].describe())
print(race['age'].describe())
print(AIE_men['age'].max())

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0
                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0
82

In [54]:
#for Q8.
salary = df.groupby('salary')
greater = salary.get_group('>50K')
Male = greater[greater.sex == 'Male']
no_of_married = Male[Male['marital-status'] == 'Married-civ-spouse']
marr = len(no_of_married)
no_of_married = Male[Male['marital-status'] == 'Married-spouse-absent']
marr += len(no_of_married)
no_of_married = Male[Male['marital-status'] == 'Married-AF-spouse']
marr += len(no_of_married)
single = Male.shape[0] - marr
if single > marr:
    print('Single Men')
elif single == marr:
    print('Both are equal')
else:
    print('Married Men')

Married Men

In [63]:
#For Q9
print('Max Hours per week : ', df['hours-per-week'].max())
people = df[df['hours-per-week'] == df['hours-per-week'].max()]
no_of_people = len(people)
print("No of people : ", no_of_people)
earn_great = people[people.salary == '>50K']
no_of_rich = len(earn_great)
print("% of rich : ",no_of_rich/no_of_people * 100,"%")

Max Hours per week :  99
No of people :  85
% of rich :  29.411764705882355 %

### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [83]:
v = df.groupby(['native-country','salary'])
print(v['hours-per-week'].mean())
v2 = df.groupby('salary')
v3 = v2.get_group('>50K')
v4 = v2.get_group('<=50K')
jap1 = v3['hours-per-week'][v3['native-country'] == 'Japan'].mean()
jap2 = v4['hours-per-week'][v4['native-country'] == 'Japan'].mean()
print("Average in Japan > 50k: ", jap1,"\n <= 50k : ", jap2)

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64
Average in Japan > 50k:  47.958333333333336
 <= 50k :  41.0