# Assignment 2
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 ===========================================================================================================================
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('adult_data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women are represented in this dataset?

In [122]:
no_of_men=data[data["sex"]=="Male"]["age"].count()
no_of_women=data[data["sex"]=="Female"]["age"].count()
print(f"No of men are {no_of_men} and no of women are {no_of_women}")

No of men are 21790 and no of women are 10771

### 2. What is the average age of women?

In [126]:
avg_age=data[data["sex"]=="Female"]["age"].mean()
print(f"Average age of women is {avg_age}")

Average age of women is 36.85823043357163

### 3. What is the percentage of german citizens?

In [139]:
a=(data[data["native-country"]=="Germany"]["age"].count())/(data.count())*100
perc=dict(a)["age"]
print(f"Percentage of german citizens = {perc}")

Percentage of german citizens = 0.42074874850281013

### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [6]:
data.groupby("salary")["age"].mean()

salary
<=50K    36.783738
>50K     44.249841
Name: age, dtype: float64

### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [7]:
data.groupby("salary")["age"].std()

salary
<=50K    14.020088
>50K     10.519028
Name: age, dtype: float64

### 6. Is it true that people who earn more than 50K have at least high school education?

In [41]:
grouped=data.groupby("salary")
grouped=grouped.get_group('>50K')["education"]
for name,group in grouped.items():
    #print(group)
    if(group=="1st-4th" or group=="(5th-6th" or group=="7th-10th" or group=="11th"):
        print("No")
        break

No

### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [58]:
print(data.groupby("race")["age"].describe())
print("----------------------------------------------------------------------")
print(data.groupby("sex")["age"].describe())
print("----------------------------------------------------------------------")
group2=data.groupby(["race","sex"])["age"].max()
print(f"Maximum age of men of Amer-Indian-Eskimo race = {dict(group2)['Amer-Indian-Eskimo', 'Male']}")
#group2["sex"=="Male"]
#group2["race"=="Amer-Indian-Eskimo"]

                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0
----------------------------------------------------------------------
          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0
----------------------------------------------------------------------
Maximum age of men of Amer-Indian-Eskimo race = 82

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [67]:
count1=0
count2=0
grouped=data.groupby("salary")
grouped=grouped.get_group('>50K')["marital-status"]
grouped=dict(grouped)
for key,items in grouped.items():
    if("Married" in items):
        count1+=1
    else:
        count2+=1
    
if(count1>count2):
    print("Married are more")
else:
    print("Bachelors are more")

Married are more

### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [142]:
# insert your code here
print("Maximum number of hours a person works per week =",data["hours-per-week"].max())
count3=0
c4=0
#for idx, a, b in df.itertuples():
for idx, x, y in data[["hours-per-week","salary"]].itertuples():
    if x==99:
        count3+=1
        if y=='>50K':
            c4+=1
print("Number of people working maximum hours =",count3)
print("Percentage of those who earn a lot (>50K) among them =",c4/count3*100)

Maximum number of hours a person works per week = 99
Number of people working maximum hours = 85
Percentage of those who earn a lot (>50K) among them = 29.411764705882355

### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [145]:
print(data.groupby(["salary","native-country"])["hours-per-week"].mean())
print("For japan : <=50k =",dict(data.groupby(["salary","native-country"])["hours-per-week"].mean())["<=50K","Japan"],", >50K =",dict(data.groupby(["salary","native-country"])["hours-per-week"].mean())[">50K","Japan"])

salary  native-country
<=50K   ?                  40.164760
        Cambodia           41.416667
        Canada             37.914634
        China              37.381818
        Columbia           38.684211
                             ...
>50K    Thailand           58.333333
        Trinadad&Tobago    40.000000
        United-States      45.505369
        Vietnam            39.200000
        Yugoslavia         49.500000
Name: hours-per-week, Length: 82, dtype: float64
For japan : <=50k = 41.0 , >50K = 47.958333333333336